<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/Autodiscover/Autodiscover.xml">
                    <add key="/Autodiscover/Autodiscover.xml" value="/Autodiscover/Autodiscover.aspx" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Rewriting to /Autodiscover/Autodiscover.xml">
                    <match url=".*" />
                    <conditions>
                        <add input="{/Autodiscover/Autodiscover.xml:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>